@font-face {
    font-family: 'TT Ramillas';
    src: url('../assets/fonts/TT-Ramillas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Ensures text is visible while the font loads */
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.3rem;
    border-color: black;
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    width: auto;
    max-width: 550px;
    margin: 0 auto;
    z-index: 1000;
    border-radius: 15px;
    outline: 1px solid #202020;
}

.nav-links {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-separate {
    position: relative; /* Required for pseudo-element positioning */
    padding: 0.3rem;
    overflow: hidden; /* Hide overflowing pseudo-element */
}

/* Exclude the logo container from the hover effect */
.nav-separate:not(.logo-container)::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%; /* Start from the left */
    width: 100%;
    height: 100%;
    background-color: #c28ed1;
    transition: transform 0.3s ease; /* Smooth transition */
    z-index: 0; /* Place behind the text */
}

.nav-separate:not(.logo-container):hover::before {
    transform: translateX(100%); /* Slide in from left to right */
}

.nav-links a {
    text-decoration: none;
    color: #202020;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    position: relative; /* Ensure text stays above the pseudo-element */
    z-index: 1; /* Ensure text is above the background */
}

.logo-img {
    height: 36px;
    width: auto;
    vertical-align: middle;
}